html, body{
    margin:0;
    padding:0;
}

header {
    display: block;
    height:100px;
    width: 100%;
}

/*cat page*/

blockquote {

     border-bottom: 4px solid #888;
     padding-left: 5px;
     text-align: center;
     font-size: 20px;
     color: #477;
}

p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}

.cat {
    border: 2px solid #222;
    float:left;
    margin: 5px;
}

.thickborder {
    border: 4px solid #222;
    box-sizing:border-box;   
}

#cat {
    height: 200px;
}





/*form page*/
.form {
    width: 40%;
    padding: 2%;
}

.formlabel {
    width:100%;
    margin:1%;
}

.forminput {
    display:block;
    width: 45%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
}

textarea {

    width: 100%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
    font-family: Courier New, Courier, monospace;
}

@media screen and (max-width:500px)
{
    .form {
        width: 100%;
        padding: 2%;
    }

    .formlabel{
        width:100%;
        margin:1%;
    }

    .forminput {
        display:block;
        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
    }

    textarea {

        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
        font-family: Courier New, Courier, monospace;
        height:100px;
    }
}

th {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

td {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}